body {
    font-family: sans-serif;
    color: #0010d4;
    background-color: rgb(84, 184, 255);
    padding: 0px;
}

#header {
    background-color: rgb(0, 149, 255);
    color: #000a80;
    padding: 10px;
    margin: 0px;
}